.row {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.row > * {
  width: 100%;
}

[class^=col] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 880px) {
  .row .col-lg-100 {
    width: 100%;
  }
  .row .col-lg-95 {
    width: 95%;
  }
  .row .col-lg-90 {
    width: 90%;
  }
  .row .col-lg-85 {
    width: 85%;
  }
  .row .col-lg-83 {
    width: 83.333%;
  }
  .row .col-lg-80 {
    width: 80%;
  }
  .row .col-lg-75 {
    width: 75%;
  }
  .row .col-lg-70 {
    width: 70%;
  }
  .row .col-lg-66 {
    width: 66.666%;
  }
  .row .col-lg-60 {
    width: 60%;
  }
  .row .col-lg-50 {
    width: 50%;
  }
  .row .col-lg-45 {
    width: 45%;
  }
  .row .col-lg-40 {
    width: 40%;
  }
  .row .col-lg-33 {
    width: 33.333%;
  }
  .row .col-lg-30 {
    width: 30%;
  }
  .row .col-lg-25 {
    width: 25%;
  }
  .row .col-lg-20 {
    width: 20%;
  }
  .row .col-lg-16 {
    width: 16.666%;
  }
  .row .col-lg-15 {
    width: 15%;
  }
  .row .col-lg-10 {
    width: 10%;
  }
}
@media (min-width: 672px) and (max-width: 879.98px) {
  .row .col-md-100 {
    width: 100%;
  }
  .row .col-md-95 {
    width: 95%;
  }
  .row .col-md-90 {
    width: 90%;
  }
  .row .col-md-85 {
    width: 85%;
  }
  .row .col-md-83 {
    width: 83.333%;
  }
  .row .col-md-80 {
    width: 80%;
  }
  .row .col-md-75 {
    width: 75%;
  }
  .row .col-md-70 {
    width: 70%;
  }
  .row .col-md-66 {
    width: 66.666%;
  }
  .row .col-md-60 {
    width: 60%;
  }
  .row .col-md-50 {
    width: 50%;
  }
  .row .col-md-45 {
    width: 45%;
  }
  .row .col-md-40 {
    width: 40%;
  }
  .row .col-md-33 {
    width: 33.333%;
  }
  .row .col-md-30 {
    width: 30%;
  }
  .row .col-md-25 {
    width: 25%;
  }
  .row .col-md-20 {
    width: 20%;
  }
  .row .col-md-16 {
    width: 16.666%;
  }
  .row .col-md-15 {
    width: 15%;
  }
  .row .col-md-10 {
    width: 10%;
  }
}
@media (max-width: 671.98px) {
  .row .col-sm-100 {
    width: 100%;
  }
  .row .col-sm-95 {
    width: 95%;
  }
  .row .col-sm-90 {
    width: 90%;
  }
  .row .col-sm-85 {
    width: 85%;
  }
  .row .col-sm-83 {
    width: 83.333%;
  }
  .row .col-sm-80 {
    width: 80%;
  }
  .row .col-sm-75 {
    width: 75%;
  }
  .row .col-sm-70 {
    width: 70%;
  }
  .row .col-sm-66 {
    width: 66.666%;
  }
  .row .col-sm-60 {
    width: 60%;
  }
  .row .col-sm-50 {
    width: 50%;
  }
  .row .col-sm-45 {
    width: 45%;
  }
  .row .col-sm-40 {
    width: 40%;
  }
  .row .col-sm-33 {
    width: 33.333%;
  }
  .row .col-sm-30 {
    width: 30%;
  }
  .row .col-sm-25 {
    width: 25%;
  }
  .row .col-sm-20 {
    width: 20%;
  }
  .row .col-sm-16 {
    width: 16.666%;
  }
  .row .col-sm-15 {
    width: 15%;
  }
  .row .col-sm-10 {
    width: 10%;
  }
}
.responsive-masonry {
  list-style: none;
  column-gap: 0;
}
.responsive-masonry-box {
  width: 100%;
  height: auto;
  break-inside: avoid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  overflow: hidden;
}

.responsive-masonry-layout-1 {
  column-count: 1;
}

.responsive-masonry-layout-2 {
  column-count: 2;
}

.responsive-masonry-layout-3 {
  column-count: 3;
}

.responsive-masonry-layout-4 {
  column-count: 4;
}

.responsive-masonry-layout-5 {
  column-count: 5;
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}
.login-back {
  position: fixed;
  top: 1.75rem;
  left: 1.75rem;
}
.login-container {
  min-height: 60%;
  padding: 1rem;
  border-radius: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  background-color: rgba(187, 222, 251, 0.75);
}
.login-container:hover {
  border-radius: 16px;
}
.login-head {
  font-size: 1.25rem;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.login-head span {
  margin: 0.75rem 0;
  font-size: 1.55rem;
  border-radius: 500px;
  background-color: var(--purple);
  padding: 0.5rem;
  color: var(--white);
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.login-form {
  width: 500px;
  max-width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.login-form button {
  width: 90%;
}
.login-form > div {
  margin: 1rem 0;
}
@media (max-width: 672px) {
  .login-form {
    width: 400px;
  }
}

/*# sourceMappingURL=login.css.map */
