@import "../../config";
.register {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: contain;
	background-position-x: center;
	background-position-y: top;
	background-repeat: no-repeat;
	&-back {
		position: fixed;
		top: 1.75rem;
		left: 1.75rem;
	}
	&-container {
		min-height: 60%;
		padding: 1rem;
		border-radius: 32px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-flow: column;
		background-color: rgb(187, 222, 251, 0.75);
		&:hover {
			border-radius: 16px;
		}
	}
	&-head {
		font-size: 1.25rem;
		line-height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		span {
			margin: 0.75rem 0;
			font-size: 1.55rem;
			border-radius: 500px;
			background-color: var(--purple);
			padding: 0.5rem;
			color: var(--white);
			font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
		}
	}
	&-form {
		width: 550px;
		max-width: 100%;
		margin: 2rem 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		button {
			width: 90%;
		}
		& > div {
			&:nth-child(4) {
				.form-group {
					@include respond(main) {
						width: 95%;
					}
					@include respond(tab) {
						width: 95%;
					}
					@include respond(phone) {
						width: 90%;
					}
				}
			}
		}
		@include respond(phone) {
			width: 400px;
		}
	}
}
