.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ffe0b2);
  margin-top: 0;
}
.register-mac {
  width: 95%;
  height: 90%;
  border-radius: 16px;
  background-color: var(--mac-bgcolor);
  color: var(--bgcolor);
  overflow: hidden;
  box-shadow: var(--shadow-3d);
}
.register-mac-head {
  width: 100%;
  height: 2.75rem;
  background-color: #4d4d4f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}
.register-mac-head-buttons {
  color: var(--tcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;
}
.register-mac-head__button {
  border-radius: 500px;
  width: 0.875rem;
  height: 0.875rem;
  margin: 0 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-mac-head__button:nth-child(1) {
  background-color: var(--mac-red);
}
.register-mac-head__button:nth-child(2) {
  background-color: var(--mac-yellow);
}
.register-mac-head__button:nth-child(3) {
  background-color: var(--mac-green);
}
.register-mac-head__button .material-symbols-outlined {
  width: 100%;
  height: 100%;
  font-size: 0.75rem;
  opacity: 0;
  transition: all var(--transition-time) ease-in-out;
}
.register-mac-head__button:hover .material-symbols-outlined {
  opacity: 1;
}
.register-mac-head-title {
  text-align: center;
  font-size: 1.25rem;
}
.register-mac-head-switch {
  width: 5rem;
}
.register-mac-body {
  width: 100%;
  height: 95%;
  position: relative;
}
.register-mac-body-buttons {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.register-mac-body__button {
  background-color: var(--mac-bgcolor);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 500px;
  padding: 0.5rem;
  margin: 0.25rem 0.5rem;
  cursor: pointer;
  transition: all var(--transition-time) ease-in-out;
}
.register-mac-body__button:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.register-mac-body__button:active, .register-mac-body__button:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.register-mac-body__button .material-symbols-outlined {
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
}
.register-mac-body-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-mac form {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}
.register-mac form input,
.register-mac form textarea {
  margin: 0.5rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.register-mac form input::placeholder,
.register-mac form textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
}
.register-mac form input:hover,
.register-mac form textarea:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.register-mac form input:active, .register-mac form input:focus,
.register-mac form textarea:active,
.register-mac form textarea:focus {
  border-bottom: 2px solid var(--orange-100);
}
.register-mac form input:disabled, .register-mac form input:disabled:active, .register-mac form input:disabled:focus,
.register-mac form textarea:disabled,
.register-mac form textarea:disabled:active,
.register-mac form textarea:disabled:focus {
  border-bottom: 2px solid var(--transparent);
}
.register-mac form label {
  color: #ffe0b2;
}
.register-mac form > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.register-mac form > div a {
  color: var(--indigo-100);
}
.register-mac form .col-lg-100 .form-group {
  width: 95%;
}
@media (max-width: 880px) {
  .register-mac form .col-lg-100 .form-group {
    width: 95%;
  }
}
@media (max-width: 672px) {
  .register-mac form .col-lg-100 .form-group {
    width: 90%;
  }
}

/*# sourceMappingURL=register.css.map */
