.fab {
    width: 4rem;
    height: 4rem;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 5;
    margin: 1.5rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-elevation-2dp);

    .material-symbols-outlined {
        font-size: 1.5rem;
    }

    &:hover {
        border-radius: 16px;
    }

    &-lg {
        width: 4.5rem;
        height: 4.5rem;
    }

    &-sm {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 20px;

        &:hover {
            border-radius: 12px;
        }
    }

}