.icon-btn {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	span {
		z-index: 5;
		font-size: 1.25rem;
	}
	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		z-index: 2;
		path {
			width: 100%;
			height: 100%;
		}
	}
	&:hover {
		svg {
			transform: translate(-50%, -50%) rotate(-90deg);
		}
	}
}
