.link-button {
	width: fit-content;
	height: fit-content;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0.65rem 1.15rem;
	border-radius: 32px;
	background-color: rgba(0, 0, 0, 0.05);
	&:hover {
		background-color: rgba(0, 0, 0, 0.075);
		border-radius: 12px;
	}
	.material-symbols-outlined {
		font-size: 1.25rem;
		margin: 0 0.25rem;
	}
	&:hover {
		.material-symbols-outlined {
			transform: translate(2px, -2px);
		}
	}
}
