$bgcolor: #f0f0f0;
$bgcolor-100: #e1e1e1;
$bgcolor-400: #d2d2d2;
$bgcolor-700: #c3c3c3;

$tcolor: #121212;
$tcolor-100: #1d1d1d;
$tcolor-400: #333333;
$tcolor-700: #272727;

$red: #f44336;
$red-100: #ffcdd2;
$red-400: #ef5350;
$red-700: #d32f2f;

$pink: #e91e63;
$pink-100: #f8bbd0;
$pink-400: #ec407a;
$pink-700: #c2185b;

$purple: #9c27b0;
$purple-100: #e1bee7;
$purple-400: #ab47bc;
$purple-700: #7b1fa2;

$dark-purple: #673ab7;
$dark-purple-100: #d1c4e9;
$dark-purple-400: #7e57c2;
$dark-purple-700: #512da8;

$indigo: #3f51b5;
$indigo-100: #c5cae9;
$indigo-400: #5c6bc0;
$indigo-700: #303f9f;

$blue: #2196f3;
$blue-100: #bbdefb;
$blue-400: #42a5f5;
$blue-700: #1976d2;

$light-blue: #03a9f4;
$light-blue-100: #b3e5fc;
$light-blue-400: #29b6f6;
$light-blue-700: #0288d1;

$cyan: #00bcd4;
$cyan-100: #b2ebf2;
$cyan-400: #26c6da;
$cyan-700: #0097a7;

$green: #4caf50;
$green-100: #c8e6c9;
$green-400: #66bb6a;
$green-700: #388e3c;

$light-green: #8bc34a;
$light-green-100: #dcedc8;
$light-green-400: #9ccc65;
$light-green-700: #689f38;

$yellow: #ffeb3b;
$yellow-100: #fff9c4;
$yellow-400: #ffee58;
$yellow-700: #fbc02d;

$orange: #ff9800;
$orange-100: #ffe0b2;
$orange-400: #ffa726;
$orange-700: #f57c00;

$deep-orange: #ff5722;
$deep-orange-100: #ffccbc;
$deep-orange-400: #ff7043;
$deep-orange-700: #e64a19;

$brown: #795548;
$brown-100: #d7ccc8;
$brown-400: #8d6e63;
$brown-700: #5d4037;

$grey: #9e9e9e;
$grey-100: #f5f5f5;
$grey-400: #bdbdbd;
$grey-700: #616161;

$blue-grey: #607d8b;
$blue-grey-100: #cfd8dc;
$blue-grey-400: #78909c;
$blue-grey-700: #455a64;