.aside{
    position: fixed;
    top: $head-height;
    left: 0;
    z-index: 99;
    height: 100vh-$head-height;
    transition: all var(--transition-time) ease-in-out;
    &-expand{
        width: $side-width;
        opacity: 1;
        visibility: visible;
        @include respond(tab){
            width: 1.5*$side-width;
        }
        @include respond(phone){
            width: 2.5*$side-width;
        }
    }
    &-hide{
        width: 0;
        opacity: 0;
        visibility: hidden;
    }
    background-color: var(--bgcolor);
    color: var(--tcolor);
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    & .side-bar{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
        &-nav{
            width: 100%;
            height: 50%;
            padding: 2rem 0;
            &-list{
                list-style-type: none;
            }
            &-links{
                padding: 0.325rem 1rem 0.325rem 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                @include respond(tab){
                    margin: 1.25rem 1.25rem 1.25rem 0;
                }
                @include respond(phone){
                    margin: 0;
                }
            }
            &-link{
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-radius: 0 500px 500px 0;
                padding: 0.1rem 0 0.1rem 0.5rem;
                &>*{
                    height: 100%;
                }
                &__icon{
                    margin: 0.5rem 1rem;
                    @include respond(tab){
                        margin: 0.5rem 2rem 0.5rem 1rem;
                    }
                    @include respond(phone){
                        margin: 0.5rem;
                    }
                }
                &__highlight{
                    background-color: var(--back-shadow);
                    color: $blue;
                }
                &__not-highlight{
                    color: var(--tcolor);
                }
                &:hover{
                    background-color: var(--back-shadow-light);
                }
                &:active{
                    background-color: var(--back-shadow);
                }
            }
        }
        &-social{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include respond(tab){
                height: 30%;
            }
            &-object{
                padding: 0.75rem;
            }
            &-link{
                font-size: 0.8rem;
                &:hover{
                    text-decoration: underline;
                    color: var(--blue-700);
                }
            }
        }
    }
}