$white-light: #fefefe;
$white-dark: #dedede;
$black-light: #323232;
$black-dark: #212121;
$back-shadow: rgba(0,0,0,0.2);
$back-shadow-light: rgba(0,0,0,0.1);
$head-height: 10vh;
$side-width: 17.5%;
$blue: #4285f4;
$red: #ea4335;
$yellow: #fbbc05;
$green: #34a853;
$border-radius: 20px;
@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width: 576px){@content};
    }
    @if $breakpoint == tab{
        @media (max-width: 768px){@content};
    }
    @if $breakpoint == main{
        @media (max-width: 992px){@content};
    }
    @if $breakpoint == big-desk{
        @media (min-width: 992px){@content};
    }
}
