@import "../../config";

.profile {
    width: 100%;
    padding-top: var(--head-height);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    &-buttons {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        right: 10%;
        top: 1rem;

        @include respond(tab) {
            right: 10%;
        }

        @include respond(tab) {
            right: 5%;
        }
    }

    form {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
        padding-top: 2rem;
        position: relative;
    }

    &-head {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
        margin: 0 0 1rem 0;

        &-image {
            width: 12.5rem;
            height: 12.5rem;
            border-radius: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                object-fit: cover;
                max-width: 100%;
                height: auto;
            }
        }

        &-name {
            margin: 1rem 0;
            width: fit-content;

            input {
                width: fit-content;
            }
        }

        input {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 2.5rem;
        }
    }

    &-body {
        width: 100%;
        padding: 0 15%;
        font-size: 1.125rem;

        @include respond(tab) {
            padding: 0 10%;
        }

        @include respond(tab) {
            padding: 0 5%;
        }

        .form-group {
            margin: 1rem auto;
        }

        .col-lg-100 .form-group {
            width: 95%;

            @include respond(tab) {
                width: 95%;
            }

            @include respond(phone) {
                width: 90%;
            }
        }
    }
}