.contact {
    width: 100vw;
    height: 100vh - var(--head-height);
    margin-top: var(--head-height);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &-card {
        width: 30rem;
        height: 10rem;

        &-image {
            width: 40%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }

        &-content {
            width: 60%;
            height: 100%;
            padding: 1rem;
        }
    }

}