@import "../../config";

.home {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column;
	overflow: hidden;

	&-box {
		&-head {
			height: 100vh;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
			position: relative;

			&>* {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				position: absolute;
			}
		}

		&-image {
			left: 0;
			top: 0;
			width: 100%;
			height: 90%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position-y: bottom;

			&__img {
				object-fit: cover;
				max-width: 75%;
				max-height: 75%;

				@include respond(tab) {
					max-height: 55%;
					max-width: 55%;
				}
			}
		}

		&-title {
			height: 25%;
			font-size: 5rem;
			line-height: 6rem;
			left: 50%;
			top: 100%;
			transform: translate(-50%, -100%);

			@include respond(phone) {
				transform: translate(-50%, -150%);
			}
		}
	}

	&-navigation {
		width: 95vw;
		margin: 0 2rem;

		&-card {
			width: 80%;
			height: 20rem;
			margin: 2rem auto;
			border-radius: 32px;
			background-color: var(--blue-100);
			border: 1px solid var(--back-shadow-light);
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			@include respond(phone) {
				height: 27.5rem;
			}

			&-image {
				width: 45%;
				height: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 32px;

				@include respond(phone) {
					width: 100%;
					height: 45%;
				}
			}

			&-content {
				width: 55%;
				height: 100%;
				display: flex;
				justify-content: space-evenly;
				align-items: flex-start;
				flex-flow: column;
				padding: 1rem;

				@include respond(phone) {
					width: 100%;
					height: 55%;
				}

				&__title {
					font-size: 2.25rem;
					margin-bottom: 0.5rem;
				}

				&__about {
					font-size: 1.25rem;
					line-height: 1.5rem;
				}
			}

			&:hover {
				border-radius: 16px;
			}

			&:hover &-image {
				border-radius: 16px;
			}
		}
	}
}

.card {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	font-family: "Chococooky", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;

	&-frame {
		height: 90%;
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0.25rem;
		padding: 0.5rem 0.25rem;
		border-radius: 10px;
		background: linear-gradient(90deg, var(--green) 4%, var(--blue) 0%) top/100% 34% no-repeat,
			linear-gradient(90deg, var(--yellow) 50%, var(--blue) 0%) top/100% 82% no-repeat,
			linear-gradient(90deg, var(--yellow) 10%, var(--red) 0%) top/100% 100%;
		box-shadow: 0 10px 15px rgba(60, 64, 67, 0.3);

		@include respond(phone) {
			padding: 0.25rem;
		}
	}

	&-box {
		position: relative;
		height: 99%;
		width: 99%;
		padding: 0;
		border-radius: 10px;
		background-color: var(--bgcolor);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
	}
}