.home {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  overflow: hidden;
}
.home-box-head {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;
}
.home-box-head > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
}
.home-box-image {
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.home-box-image__img {
  object-fit: cover;
  max-width: 75%;
  max-height: 75%;
}
@media (max-width: 880px) {
  .home-box-image__img {
    max-height: 55%;
    max-width: 55%;
  }
}
.home-box-title {
  height: 25%;
  font-size: 5rem;
  line-height: 6rem;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}
@media (max-width: 672px) {
  .home-box-title {
    transform: translate(-50%, -150%);
  }
}
.home-navigation {
  width: 95vw;
  margin: 0 2rem;
}
.home-navigation-card {
  width: 80%;
  height: 20rem;
  margin: 2rem auto;
  border-radius: 32px;
  background-color: var(--blue-100);
  border: 1px solid var(--back-shadow-light);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 672px) {
  .home-navigation-card {
    height: 27.5rem;
  }
}
.home-navigation-card-image {
  width: 45%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 32px;
}
@media (max-width: 672px) {
  .home-navigation-card-image {
    width: 100%;
    height: 45%;
  }
}
.home-navigation-card-content {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: column;
  padding: 1rem;
}
@media (max-width: 672px) {
  .home-navigation-card-content {
    width: 100%;
    height: 55%;
  }
}
.home-navigation-card-content__title {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}
.home-navigation-card-content__about {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.home-navigation-card:hover {
  border-radius: 16px;
}
.home-navigation-card:hover .home-navigation-card-image {
  border-radius: 16px;
}

.card {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: "Chococooky", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card-frame {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  padding: 0.5rem 0.25rem;
  border-radius: 10px;
  background: linear-gradient(90deg, var(--green) 4%, var(--blue) 0%) top/100% 34% no-repeat, linear-gradient(90deg, var(--yellow) 50%, var(--blue) 0%) top/100% 82% no-repeat, linear-gradient(90deg, var(--yellow) 10%, var(--red) 0%) top/100% 100%;
  box-shadow: 0 10px 15px rgba(60, 64, 67, 0.3);
}
@media (max-width: 672px) {
  .card-frame {
    padding: 0.25rem;
  }
}
.card-box {
  position: relative;
  height: 99%;
  width: 99%;
  padding: 0;
  border-radius: 10px;
  background-color: var(--bgcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

/*# sourceMappingURL=home.css.map */
