@import "../../config";

.calendar {
	margin-top: var(--head-height);
	width: 100%;
	height: calc(100vh - var(--head-height));
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column;

	&-head {
		width: 100%;
		height: calc(100% / 8);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 5vw;
		font-size: 2rem;
		line-height: 2.5rem;

		&>* {
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			&>* {
				margin: 0 0.75rem;
			}
		}

		button {
			color: var(--white);
		}

		&-month {
			width: 9ch;

			&-current {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}

		&-year {
			input {
				width: 7ch;
				border: none;
				padding: 0;
				border: 4px solid transparent;
				border-radius: 4px;
				padding: 0.3rem 0.75rem;
				@include respond(phone) {
					width: 5.5ch;
				}

				&:active,
				&:focus {
					border-bottom: 4px solid var(--back-shadow);
				}
			}
		}
	}

	&-body {
		width: 100%;
		height: calc(700% / 8);
		background-size: cover;
		background-position: center;
		background-blend-mode: lighten;
		background-color: rgba(255, 255, 255, 0.7);

		table {
			width: 100%;
			height: 100%;
			border-spacing: 0;

			tr {
				width: 100%;
				height: 100%;
			}

			th,
			td {
				width: calc(100% / 7);
				height: 100%;
				display: inline-flex;
				justify-content: center;
				align-items: center;
			}

			thead {
				width: 100%;
				height: calc(100% / 6);
			}

			tbody {
				width: 100%;
				height: calc(500% / 6);
				color: var(--black);

				tr {
					height: calc(100% / 5);
				}

				td {
					font-size: 1.5rem;
				}
			}
		}
	}
}

@import "./month-dialog-box";