.chip{
    position: relative;
    user-select: none;
    appearance: none;
    width: fit-content;
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0px;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    padding: 0 0.65rem;
    box-sizing: border-box;
}