$colors: "blue", "red", "yellow", "green", "white", "black", "purple", "indigo",
	"orange", "grey", "brown";

$bgcolor: #f0f0f0;
$bgcolor-400: #d2d2d2;
$bgcolor-100: #e1e1e1;
$bgcolor-700: #c3c3c3;

$tcolor: #121212;
$tcolor-100: #333333;
$tcolor-400: #272727;
$tcolor-700: #1d1d1d;

$back-shadow: rgba(0, 0, 0, 0.2);
$back-shadow-dark: rgba(0, 0, 0, 0.25);
$back-shadow-light: rgba(0, 0, 0, 0.1);
$shadow-3d: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);

$side-width: 22%;
$head-height: 12vh;
$transition-time: 200ms;

$white: #ffffff;
$black: #000000;
$transparent: transparent;

$red: #f44336;
$red-100: #ffcdd2;
$red-400: #ef5350;
$red-700: #d32f2f;

$pink: #e91e63;
$pink-100: #f8bbd0;
$pink-400: #ec407a;
$pink-700: #c2185b;

$purple: #9c27b0;
$purple-100: #e1bee7;
$purple-400: #ab47bc;
$purple-700: #7b1fa2;

$dark-purple: #673ab7;
$dark-purple-100: #d1c4e9;
$dark-purple-400: #7e57c2;
$dark-purple-700: #512da8;

$indigo: #3f51b5;
$indigo-100: #c5cae9;
$indigo-400: #5c6bc0;
$indigo-700: #303f9f;

$blue: #2196f3;
$blue-100: #bbdefb;
$blue-400: #42a5f5;
$blue-700: #1976d2;

$light-blue: #03a9f4;
$light-blue-100: #b3e5fc;
$light-blue-400: #29b6f6;
$light-blue-700: #0288d1;

$cyan: #00bcd4;
$cyan-100: #b2ebf2;
$cyan-400: #26c6da;
$cyan-700: #0097a7;

$green: #4caf50;
$green-100: #c8e6c9;
$green-400: #66bb6a;
$green-700: #388e3c;

$light-green: #8bc34a;
$light-green-100: #dcedc8;
$light-green-400: #9ccc65;
$light-green-700: #689f38;

$yellow: #ffeb3b;
$yellow-100: #fff9c4;
$yellow-400: #ffee58;
$yellow-700: #fbc02d;

$orange: #ff9800;
$orange-100: #ffe0b2;
$orange-400: #ffa726;
$orange-700: #f57c00;

$deep-orange: #ff5722;
$deep-orange-100: #ffccbc;
$deep-orange-400: #ff7043;
$deep-orange-700: #e64a19;

$brown: #795548;
$brown-100: #d7ccc8;
$brown-400: #8d6e63;
$brown-700: #5d4037;

$gray: #9e9e9e;
$gray-100: #f5f5f5;
$gray-400: #bdbdbd;
$gray-700: #616161;

$blue-gray: #607d8b;
$blue-gray-100: #cfd8dc;
$blue-gray-400: #78909c;
$blue-gray-700: #455a64;

$blue: #4285f4;
$red: #ea4335;
$yellow: #fbbc05;
$green: #34a853;
